{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": "*.test.js",
      "globals": {
        "shallow": true,
        "render": true,
        "mount": true
      }
    }
  ]
}